
.per_piece_price {
    color: rgb(133, 177, 64) !important;
    display: block;
    font-size: 48px !important;
    font-weight: bold !important;
    height: 62px;
    line-height: 62px;
    width: 100% !important;
    text-align: center;
}
#sqft_rate {
    display: block;
    text-align: center;
    padding: 10px;
}
p.thickness {
    display: block;
    text-align: center;
    color: #34485d;
    font-weight: bold;
    font-size: 30px;
}
button#add_to_cart {
    width: 100%;
}
h3#step_2price_total {
    color: rgb(133, 177, 64) !important;
    display: block;
    font-size: 48px !important;
    font-weight: bold !important;
    height: 62px;
    line-height: 62px;
    width: 100% !important;
    text-align: center;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox {
    width: 100%;
}
div#wufdc_div {
    display: inherit;
    position: relative;
    float: left;
}
div#wufdc_div h6 {
    font-size: 23px;
    text-align: center;
    color: #3292ca;
    font-weight: 600;
}
